<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_iExecitionService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ExecutionService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_iExecitionService" contract="ExecutionService.iExecitionService"
                name="WSHttpBinding_iExecitionService">
                <identity>
                    <userPrincipalName value="DESKTOP-NCC7QJ7\Igor" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>